html {
  font-size: 10px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
